<?xml version="1.0" encoding="utf-8"?>
<GHRSettings>
	<PhysicalParams Collisions="0.0" DeCoherence="50.0e-2" SpontaneousEmission="0.0"/>
	<SequenceParams BaseTime="18.75e-2" Length="4"/>
	<PulseParams>
		<Pulse_1 FreeEvolution="0" Period="18.75e-2" Phase="0.0"/>
		<Pulse_2 FreeEvolution="1" Period="20.0e-1" Phase="0.0"/>
		<Pulse_3 FreeEvolution="0" Period="37.5e-2" Phase="10.0e-1"/>
		<Pulse_4 FreeEvolution="0" Period="18.75e-2" Phase="0.0"/>
	</PulseParams>
	<InitialState U="0.0" V="0.0" W="-10.0e-1"/>
	<SamplingParams>
		<Delta SampleCount="1000" Start="-10.0" Stop="10.0"/>
	</SamplingParams>
</GHRSettings>